@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;600&family=Caveat&family=Satisfy&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/* MISC */
/* COLOR */
/* FUENTES */
/* SPACING */
/* TRANSFORM */
/* MAPA */
/* NORMALIZE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  /* background-color: #849fbe; */
  background-color: #000;
  background-size: cover;
  /* font-family: 'Baloo Da 2', cursive; */
  font-family: 'Roboto Mono', monospace;
  min-width: 312px; }

main {
  color: #fff; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

img {
  width: 100%; }

.btn {
  margin: 0 0.5rem;
  font-size: 1.23rem !important;}

.wallet {
  max-width: 4rem;}

.flecha {
  max-width: 5rem;
  display: block;
  margin: 0 auto;}

.modal-title {
  font-size: 2rem;}

/* MIXIN */
/* PARTIALS */
/* HEADER */
header, header .navbar {
  background-color: #1d3142;
  color: #fff; }
  header .navbar .nav__logo {
    margin-left: 3rem; }
  header .navbar .nav__img {
    max-width: 5rem;
    display: inline-block; }
  header .navbar h1 {
    /* font-family: Caveat; */
    font-family: 'Roboto Mono', monospace;
    font-size: 4.5rem;
    padding-left: 3rem;
    display: inline-block;
    margin: 0 2rem; }
  header .navbar .menu {
    display: flex;
    gap: 1rem;
    align-items: center; }
    header .navbar .menu .menu__item {
      background-color: #fff;
      width: 7rem;
      border-radius: 3rem;
      text-align: center;
      transition: transform 0.5s; }
      header .navbar .menu .menu__item .menu__link {
        font-size: 1.2em;
        color: #1d3142;
        padding: 0 1rem; }
    header .navbar .menu:hover {
      transform: scale(1.1); }
    header .navbar .menu .menu__item--active {
      border-bottom: 0.3rem solid #6a6464; }
  header .navbar-expand-md .navbar-collapse {
    flex-direction: column-reverse;
    flex-grow: .5; }
  header .navbar-expand-md .navbar-toggler {
    margin-right: 3rem; }

/* FOOTER */
footer {
  text-align: center;
  color: #fff;
  margin: 0.5rem 5rem;
  font-size: 1.5rem;
  padding-top: 2rem; }
  footer .redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    footer .redes .redes__item {
      max-width: 3rem;
      transition: transform 0.5s; }
    footer .redes:hover {
      transform: scale(1.2); }

/* VIEWS */
/* HOME */
main {
  background-color: #000;
}
main .baner {
  min-height: 100vh;
  width: 100;
  /* background-color: #1d3142; */
  background-image: url("../img/divisas.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  overflow: hidden;
  color:#fff; }
  
  main .baner h2 {
    text-align: center;
    font-size: 4rem;
    padding: 3rem; }
  main .baner h3 {
    text-align: center;
    font-size: 3.5rem;
    padding: 3rem;
    margin-top: 15rem; }
  main .baner p {
    text-align: center;
    font-size: 2rem;
    padding: 1rem; }
  main .cambio{
    margin: 3rem 10rem;
    font-size: 1.5rem;}
  .swal2-popup {
    width: 45em!important;}
  .swal2-html-container {
    font-size: 1.5em!important;}
  .swal2-title {
    font-size: 1.9em!important;
  }
/* main .galery__title {
  font-size: 2rem;
  padding: 2rem 1rem 0 1rem;
  text-align: center; }

main .container {
  max-width: 50vw; } */


/* CONTACTO */
.contacto {
  margin-top: 3rem; }
  .contacto .col {
    text-align: center; }
    .contacto .col .contacto__datos {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .contacto .col .contacto__datos .contacto__img {
        max-width: 4rem; }
    .contacto .col .contacto__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }

/* MEDIA */
@media screen and (max-width: 823px) {
  main .container {
    max-width: 70vw; }}

@media screen and (max-width: 650px) {
  main .container {
    max-width: 100%; }}

@media screen and (max-width: 400px) {
  header .navbar {
    justify-items: center;
    justify-content: center;
    align-content: center;
    gap: 1rem; }
  .contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding-top: 3rem; } }
